<!DOCTYPE html>
<html>
  <head>
    <tittle>Server Error</tittle>
  </head>
  <body>
    <main>
      <section>
        <h1>An error has occurred</h1>
        <p><%= error%></p>
      </section>
    </main>
  </body>
</html>